# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\charl\Desktop\Universidad Tegnologica Nacional\Tecnicatura Universitaria en Programacion\Segundo Año\Primer Cuatrimestre\Laboratorio y Programacion III\Trabajos Practicos\Guia_Objetos_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
